body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
}

.navbar-nav .nav-link {
    color: #fff;
}


.navbar-nav .nav-link.active {
    background-color: #555;
    color: #fff;
}

h3 {
    color: #333;
}

.card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.card-title {
    color: #007bff;
}

.list-unstyled li a {
    color: #007bff;
    text-decoration: none;
}

.list-unstyled li a:hover {
    text-decoration: underline;
}



.banner-container {
    width: 100%;
}

.banner-img {
    width: 100%; 
    height: auto;
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.news-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


.gachngang {
    border-top: 2px solid #ccc; 
    margin: 20px 0; 
}


.news-item p:first-child {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}


.news-item p:last-child {
    color: #007bff;
    font-size: 16px;
    line-height: 1.5;
}

h5 {
    font-weight: bold;
    color: #666;
}




.footer {
    background-color: #f8f9fa; 
    border-top: 1px solid #ddd; 
}

.footer p {
    margin: 0; 
    color: #333;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .text-end p {
    margin-top: 10px;
    color: #666;
}
